@using VTP2015.Helpers
@using VTP2015.ServiceLayer.Student.Models
@model VTP2015.Modules.Student.ViewModels.PartimViewModel[]

<div id="beschikbarePartimsColumn" class="col-md-6">
    @using (Html.BeginPanel("Beschikbare modules"))
    {
        @Html.ShowPartimList(Model, false)
    }
</div>
