@using VTP2015.Config
@using VTP2015.Helpers
@using VTP2015.ServiceLayer.Student.Models
@model VTP2015.Modules.Student.ViewModels.FileListViewModel[]
@{
    var configFile = new ConfigFile();
    var submitted = Model.All(x => x.FileStatus == FileStatus.Submitted);
    if (Model.Length == 0) { submitted = false; }
}
    @using (Html.BeginPanel("Kies uw dossier:"))
    {
        <ul class="list-group">
            @foreach (var file in Model)
            {
                <li class="list-group-item">
                    @Html.RouteLink(file.Description, new { controller = "Student", action = "File", fileId = file.Id }, new { id = "btnStap3" })


                </li>
            }
        </ul>
        if (Model.All(x => configFile.CalcAcademieJaar(x.DateCreated.Year) != configFile.AcademieJaar()))
        {
            <br/>
            @Html.ActionLink("Nieuw dossier aanmaken", "NewFile", "Student", new {@class = "btn btn-primary" },new { @id = "btnStap3" })
       }
        else
        {
            <br/>

            if (!submitted)
            {
                <span id="btnIndienen" class="btn btn-primary">Dien dossier in</span>
                @Html.ValidationSummary(false, "", new { @class = "text-danger", @id = "indienErrors" })
            }
        }
       
    }