@using VTP2015.Helpers
@model VTP2015.Modules.Student.ViewModels.RequestDetailViewModel[]
<div id="aanvraagDetail" data-url="@Url.Action("SaveAanvraag", "Student")" data-url2="@Url.Action("AddAanvraag","Student")" class="col-md-4 hide">
    @using (Html.BeginPanel("Aanvraag details"))
    {
        <section>
            <article id="dummy" class="hide">
               
                <h3>ModuleStudentName</h3>
                <h4>PartimStudentName</h4>

                <label class="control-label">Vorige opleidingen:</label>
                <ul id="opleidingen" class="list-group"></ul><br/>
                
                <label class="control-label">Bewijzen:</label>
                <ul id="bewijzen" class="list-group"></ul><br/>
                
               

                <button type="button" onclick=" Return() " class="btn btn-primary">Terug</button>
                
            </article>
            @Html.ShowAanvraagDetails(Model)

            @Html.NextButton("btnStap4")
        </section>
    }
</div>

