@using VTP2015.Helpers
@using VTP2015.ServiceLayer.Student.Models
@model VTP2015.Modules.Student.ViewModels.PartimViewModel[]


<div id="aangevraagdePartimsColumn" data-url="@Url.Action("DeleteAanvraag", "Student")" class="col-md-6">
    @using (Html.BeginPanel("Aangevraagde modules"))
    {
        @Html.ShowPartimList(Model, true)
    }
</div>
