<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../../css/bootstrap.min.css" rel="stylesheet">
    <link href="../../css/styles.css" rel="stylesheet">
</head>
<body>
<nav>
    <div class="navbar navbar-inverse navbar-static-top">
        <div class="container">
            <a href="#" class="navbar-brand">Vrijstellingen</a>
            <button class="navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="collapse navbar-collapse navHeaderCollapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Logout</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>
<div class="container">
    <div class="jumbotron">
        <article>
            <h1>Dossier vrijstellingen</h1>
        </article>
    </div>
    <ol class="breadcrumb">
        <li><a href="#">Home</a></li>
        <li class="active">Dossier</li>
    </ol>
    <div class="container">
        <form role="form" class="form-inline">
            <div class="container">
                <div class="form-group col-md-6">
                    <label for="opleiding">opleiding:</label>
                    <input class="form-control" id="opleiding" readonly>
                </div>
                <div class="form-group col-md-6">
                    <label for="traject">Keuzetraject:</label>
                    <input class="form-control" id="traject" readonly>
                </div>
            </div>
            <h2>Vrijstellingen</h2>
            <div class="container" id="vrijstellingen">
                <div class="row">

                    <div class="col-md-3">
                        <div class="panel panel-warning clearfix">
                            <div class="panel-heading">
                                <h3>Partim 1</h3>
                                <h4>module 1</h4>
                                <h5>Motivatie:</h5>
                                <ul>
                                    <li>...</li>
                                </ul>
                                <a href="#" class="btn btn-info">view</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="panel panel-success clearfix">
                            <div class="panel-heading">
                                <h3>Partim 2</h3>
                                <h4>module 1</h4>
                                <h5>Motivatie:</h5>
                                <ul>
                                    <li>diploma vorige opleiding</li>
                                </ul>
                                <a href="#" class="btn btn-info">view</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="panel panel-success clearfix">
                            <div class="panel-heading">
                                <h3>Partim 3</h3>
                                <h4>module 1</h4>
                                <h5>Motivatie:</h5>
                                <ul>
                                    <li>studieomvang en inhoud stemmen overeen</li>
                                </ul>
                                <a href="#" class="btn btn-info">view</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="panel panel-danger clearfix">
                            <div class="panel-heading">
                                <h3>Partim 4</h3>
                                <h4>module 2</h4>
                                <h5>Motivatie:</h5>
                                <ul>
                                    <li>geen creditbewijs behaald</li>
                                </ul>
                                <a href="#" class="btn btn-info">view</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="panel panel-danger clearfix">
                            <div class="panel-heading">
                                <h3>Partim 5</h3>
                                <h4>module 2</h4>
                                <h5>Motivatie:</h5>
                                <ul>
                                    <li>studieomvang onvoldoende</li>
                                </ul>
                                <a href="#" class="btn btn-info">view</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<footer>
    <div class="navbar">
        <div class="container navbar-default navbar-fixed-bottom">
            <p class="navbar-text">Application built by...<p>
        </div>
    </div>
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="../../js/bootstrap.js"></script>
</body>
</html>