@{
    ViewBag.Title = "Docent - Aanvraag archief";
}

<br/>

<div class="container">
    <div class="container">
        <div class="row" id="dossiers">
            
            @if (ViewBag.DocentHeeftApprovedAanvragen || ViewBag.DocentHeeftRejectedAanvragen)
            {
                <div class="col-md-4">
                    @Html.Action("ModuleListWidget")
                    @Html.Action("StudentListWidget", "Lecturer", new { view = "Archive" })
                    
                </div>

                <div>
                    <div class="col-md-8">
                        @if (ViewBag.DocentHeeftApprovedAanvragen)
                        { 
                            @Html.Action("ApprovedRequestListWidget")
                        }
                        @if (ViewBag.DocentHeeftRejectedAanvragen)
                        {
                            @Html.Action("RejectedRequestListWidget")
                        }
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<script src="~/Scripts/App/Lecturer/ArchiveScripts.js"></script>
