@model IEnumerable<VTP2015.Modules.Lecturer.ViewModels.PartimListViewModel>

<div class="panel panel-default clearfix partimcontainer">
    <div class="panel-heading">
        <h3 class="panel-title">Partims</h3>
    </div>
    <div class="panel-body" id="partimPointerDiv">
        <ul class="list-group">
            @foreach (var partim in Model.OrderBy(o=>o.SuperCode))
            {
                <li class="list-group-item partimpointer" data-supercode="@partim.SuperCode">
                    <span class="name">@partim.ModuleName - @partim.PartimName</span>
                    @{
                        string url = HttpContext.Current.Request.Url.AbsolutePath;
                        if (url.Equals("/Lecturer/OpenRequests"))
                        {
                            <span id="Aantal_@partim.SuperCode" class="aantal" style="float: right;">0</span>
                        }
                        else
                        if (url.Equals("/Lecturer/Partim"))
                        { 
                            <span id="Verwijder_@partim.SuperCode" class="glyphicon glyphicon-remove-sign remove" style="float: right;"></span>
                        }

                    }

                </li>
            }
        </ul>
    </div>
</div>
