@model IEnumerable<VTP2015.Modules.Lecturer.ViewModels.MotivationListViewModel>
    @foreach (var motivation in Model.Skip(1).OrderBy(m => m.Text))
    {
        <option value="@motivation.ID">@motivation.Text</option>
    }