@{
    ViewBag.Title = "Docent - Partim verwijderen";
}
<br />
<div class="container body-content">
    <div class="container-fix col-md-5">
        @Html.Action("ModuleListWidget")
       
    </div>
</div>
@Scripts.Render("~/bundles/lecturer")