<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="VTP2015.DataAccess.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="VTP" connectionString="Server=172.21.1.84;Database=Vrijstellingen;User Id=Vrijstellingen;Password=cb8_RVhteA#USc@3!uH%uj+;MultipleActiveResultSets=true;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <applicationSettings>
    <VTP2015.DataAccess.Properties.Settings>
      <setting name="VTP2015_DataAccess_Bamaflex_Facade" serializeAs="String">
        <value>https://services.howest.be/Howest.Services.Bamaflex/v1.9/data.asmx</value>
      </setting>
      <setting name="VTP2015_DataAccess_Identity_Identity_x0020_Management_x0020_Webservice"
        serializeAs="String">
        <value>https://services.howest.be/Howest.Identity.Web.Service/v1.1/facade.asmx</value>
      </setting>
    </VTP2015.DataAccess.Properties.Settings>
  </applicationSettings>
</configuration>