@{
    ViewBag.Title = "Admin";
}
<br /><br /><br />
<div class="container">
    <div class="row">
        <div class="container-fix">
            @Html.Action("UserTableWidget")
            @Html.Action("SettingsWidget")
        </div>
    </div>
</div>
@section css{
    <style>
        .handje {
            cursor: pointer;
        }
    </style>
}
@Scripts.Render("~/bundles/admin")