@using VTP2015.Helpers;
@model List<VTP2015.Modules.Admin.ViewModels.UserViewModel>
<div class="col-md-6">
    <div class="panel panel-default clearfix">
        <div class="panel-body">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Email</th>
                    <th>Counselors</th>
                    <th>Admin</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var user in Model)
                {
                    <tr>
                        <td>@user.Email</td>
                        <td>@Html.ShowGlyphiconWithRole(user.IsCounselor ? "ok handje" : "remove handje", "Counselor")</td>
                        <td>@Html.ShowGlyphiconWithRole(user.IsAdmin ? "ok handje" : "remove handje", "Admin")</td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
</div>
