@using VTP2015.Helpers


<div id="files">



    <div id="dummyFile" class="row hide fileDetail" data-fileid="">

        <div class="row">
            <span class="studentName col-md-4"></span>
            <div class="btn-group col-md-7" data-toggle="buttons">
                <span class="button-checkbox">
                    <button id="btnApprovedRequests" type="button" class="btn" data-color="success">Goedgekeurd<span id="spnAmountOfApprovedRequests" class="badge badge-primary" style="margin-left: 1em">0</span></button>
                    <input id="chApprovedRequests" type="checkbox" class="hidden" checked />
                </span>
                <span class="button-checkbox">
                    <button id="btnUntreatedRequests" type="button" class="btn" data-color="warning">Onbeslist<span id="spnAmountOfUntreatedRequests" class="badge badge-warning" style="margin-left: 1em">0</span></button>
                    <input id="chUntreatedRequests" type="checkbox" class="hidden" checked />
                </span>
                <span class="button-checkbox">
                    <button id="btnDeniedRequests" type="button" class="btn" data-color="danger">Afgekeurd<span id="spnAmountOfDeniedRequests" class="badge badge-danger" style="margin-left: 1em">0</span></button>
                    <input id="chDeniedRequests" type="checkbox" class="hidden" checked />
                </span>
            </div>
            <button class="btn btn-danger btnRemoveFile col-md-1" style="float: right;" data-fileid="">Verwijder file</button>
        </div><br/>
        <div class="row">
            <div class="col-md-3">
                <div class=" panel panel-default clearfix">
                    <div class="panel-heading">
                        <h3 class="panel-title">Partims</h3>
                    </div>
                    <div class="panel-body partimList">
                        <div class="hide" id="dummyModule">
                            <b class="moduleName name h4"></b>
                            <ul class="list-group moduleGroup">
                                <li class="hide list-group-item request btnSelectPartim" id="dummyPartim" data-fileid="" data-RequestId="" data-status="" data-index="">
                                    <span class="partimName"></span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-9">
                <div class="panel panel-default clearfix">
                    <div class="panel-heading">
                        <h3 class="panel-title">Details</h3>
                    </div>
                    <div class="panel-body row">
                        

                        <div class="col-md-12 partimDetails">
                            <div class="partimDetail hide" Id="dummyRequestDetail" data-index="">
                                <button class="btn btn-danger btnRemovePartim" data-partiminformationid="" data-fileid="">Verwijder partim</button>
                                <div class="opleidingenDiv">
                                    <h3>Vorige opleidingen:</h3>
                                    <ul class="list-group opleidingen">
                                        <li id="educationDummy" class="list-group-item hide"></li>
                                    </ul>
                                </div>
                                <br/>
                                <div class="evidencePanel panel panel-default">
                                    <div class="panel-heading control-label" data-requestid="">
                                        Evidence&nbsp&nbsp&nbsp
                                        <span class="previousEvidence glyphicon glyphicon-chevron-left"></span>
                                        <span class="currentEvidence">1</span>/
                                        <span class="amountOfEvidence"></span>
                                        <span class="nextEvidence glyphicon glyphicon-chevron-right"></span>
                                    </div>
                                    <br/>
                                    <div class=" panel-body evidenceContainer">
                                        <div id="dummyEvidence" data-index="" class="inheritWidth evidence hide">

                                            <div class="inheritWidth bewijspointer" data-RequestPartimInformationPartimInformationid="RequestPartimInformationPartimInformation_ //TODO: right value">
                                                <p>
                                                    <b>Beschrijving:&nbsp</b>
                                                    <span class="argumentation"></span>
                                                </p>

                                                <a class="downloadLink" href="" download>
                                                    Als onderstaande voorstelling niet werkt kunt u op deze link klikken om het bewijs te downloaden
                                                </a><br/>

                                                <div class="evidence">
                                                    <embed src="" class="inheritWidth pdf"/>
                                                    <img src="" class="inheritWidth image" alt="Evidence"/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        
    </div>
</div>
